In [ ]:
import pandas as pd
emp_data=pd.read_csv("EmployeeData.csv")
print(emp_data)
dep_data=pd.read_csv("DepartmentData.csv")
print(dep_data)

                 name  age     bonus  base_salary  department_id
0         Steve Smith   46  26048.96        59545              7
1           Eva Brown   31  46217.53        95261             17
2    Charlie Anderson   34  33768.80        97466              8
3     Rachel Martinez   49  30688.55        93735              7
4          Nina White   24  26566.34        56517              1
..                ...  ...       ...          ...            ...
375      Steve Garcia   40  26524.79        73248             12
376        Nina Clark   47  14331.60        30539             14
377   Rachel Martinez   36  44455.00        92493             11
378     Hannah Harris   57  24093.74        53098              4
379     Pamela Thomas   60  15722.04        45884              3

[380 rows x 5 columns]
    department_id                 department_name  tax_rate
0               1              Talent Acquisition      0.22
1               2                              HR      0.15
2               3                Customer Service      0.34
3               4  Research and Development (R&D)      0.33
4               5                Public Relations      0.27
5               6                       Education      0.25
6               7                        Accounts      0.12
7               8                      Operations      0.30
8               9                         Finance      0.37
9              10                           Sales      0.15
10             11                       Technical      0.21
11             12                     Engineering      0.13
12             13              Product Management      0.35
13             14                       Marketing      0.38
14             15               Quality Assurance      0.33
15             16                              IT      0.37
16             17                           Legal      0.14
17             18            Business Development      0.17
18             19                       Logistics      0.13

In [ ]:
merged_df = pd.merge(emp_data, dep_data, on='department_id')
print(merged_df)

                name  age     bonus  base_salary  department_id  \
0        Steve Smith   46  26048.96        59545              7
1    Rachel Martinez   49  30688.55        93735              7
2       Alice Martin   37  40733.05        98778              7
3      Michael Moore   55  33471.87        74379              7
4       Eva Thompson   41  15540.04        36520              7
..               ...  ...       ...          ...            ...
375   Kevin Thompson   30  38178.60        84215             13
376     Hannah Smith   26  40269.81        92510             13
377    Julia Jackson   54  15418.00        31484             13
378      Alice Brown   38  14017.23        37082             13
379   Rachel Jackson   23  11959.08        31957             13

        department_name  tax_rate
0              Accounts      0.12
1              Accounts      0.12
2              Accounts      0.12
3              Accounts      0.12
4              Accounts      0.12
..                  ...       ...
375  Product Management      0.35
376  Product Management      0.35
377  Product Management      0.35
378  Product Management      0.35
379  Product Management      0.35

[380 rows x 7 columns]

In [ ]:
merged_df["sal"]=merged_df['bonus'] + merged_df['base_salary']
merged_df["final"]=(merged_df['bonus'] + merged_df['base_salary'])-((merged_df['bonus'] + merged_df['base_salary'])* merged_df["tax_rate"])
print(merged_df)

                 name  age     bonus  base_salary  department_id  \
78       Laura Martin   56  23182.85        59733              1
72      Quincy Harris   31  27759.63        65529              1
70         Bob Wilson   23  25950.75        80317              1
71          Bob Clark   28  11996.15        34021              1
76        Julia Smith   53  31043.76        75059              1
..                ...  ...       ...          ...            ...
100  Charlie Thompson   50  25063.27        54385             19
119      Pamela Clark   34  22982.06        48687             19
108       Eva Jackson   38  23777.94        69134             19
118        Eva Thomas   49  25658.11        52154             19
115       Alice Smith   52  13909.68        30070             19

        department_name  tax_rate        sal       final
78   Talent Acquisition      0.22   82915.85  64674.3630
72   Talent Acquisition      0.22   93288.63  72765.1314
70   Talent Acquisition      0.22  106267.75  82888.8450
71   Talent Acquisition      0.22   46017.15  35893.3770
76   Talent Acquisition      0.22  106102.76  82760.1528
..                  ...       ...        ...         ...
100           Logistics      0.13   79448.27  69119.9949
119           Logistics      0.13   71669.06  62352.0822
108           Logistics      0.13   92911.94  80833.3878
118           Logistics      0.13   77812.11  67696.5357
115           Logistics      0.13   43979.68  38262.3216

[380 rows x 9 columns]

In [ ]:
avg=pd.DataFrame(merged_df.groupby('department_name').agg(mean=('final', 'mean')))
avg.sort_values(by=['mean'], ascending=False)

                                        mean
department_name
Accounts                        87621.851240
Legal                           84939.271700
Logistics                       83338.993455
Technical                       82845.040600
HR                              82318.159900
Engineering                     77359.799700
Business Development            76212.396535
Education                       70849.017375
Sales                           70457.413325
Talent Acquisition              64335.881610
IT                              63863.460675
Operations                      62301.310400
Finance                         62263.259415
Quality Assurance               61846.002890
Customer Service                59702.041410
Research and Development (R&D)  59549.536015
Public Relations                58952.117980
Marketing                       55113.780900
Product Management              53356.979000